{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <h1>검색 결과</h1>
  {% if query %}
    <p>검색어: "{{ query }}"</p>
    {% if posts %}
    <div class="search-container">
        <form method="GET" action="{% url 'post_search' %}">
            <input type="text" name="q" placeholder="검색어를 입력하세요">
            <button type="submit">검색</button>
        </form>
    </div>
      <div class="card-wrapper">
        {% for post in posts %}
          <div class="card">
            <div class="card-image">
              <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/default_post_image.png' %}{% endif %}">
            </div>
            <div class="card-content">
              <span class="card-title">{{ post.title }}</span>
              <p>{{ post.content|truncatewords:5 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'post_detail' pk=post.pk %}">더 보기</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>검색 결과가 없습니다.</p>
    {% endif %}
  {% endif %}
{% endblock %}